$container-padding: 0 20%;

//navbar
$logo-fs: 1.5rem;
$navbar-fs: 1rem;
$navbar-fc: #000;
$navbar-bg: #fff;
$logo-lh: 1.8125rem;
$navbar-lh: 1.1875rem;

//home
$home-bg: #add8e6;

//btn
$btn-bg: #0000ff;
$btn-br: 5rem;
$btn-clr:#fff;
$btn-fw: 500;
$btn-fs: 1rem;
$btn-lh: 190%;
